spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cinema_tickets
    username: cinema_app
    password: password

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations:
      - classpath:db/migration
      - classpath:db/migration-dev
    baseline-on-migrate: false

  web:
    error:
      include-stacktrace: always
      include-exception: true
      include-message: always
      include-binding-errors: always

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: DEBUG

app:
  seed:
    enabled: true
  errors:
    include-stacktrace: true

jwt:
  secret: "rjfoBSJbdo2DWCXzgWw42ug9VndCxurWHfAh71kq36o="
